<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="basic.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
    <title>SingIn</title>
</head>
<div class="p-3 mb-2 bg-primary text-white">
<body>
    
    
     <div class="container">
    <h1>Thanks for Payment!</h1>
    <h2>We'll reach out to you soon!</h2>
</div>
</div>
</body>
</div>
</html>